* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  background-color: gray;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #2f2f53;
}

.navbar-collapse {
  background-color: #141446;
  width: 2000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div ul li a {
  font-size: 1.5rem;
}

.slider {
  width: 85%;
  margin: 0 auto 0;
  margin-bottom: 0px;
  margin-top: 145px;
}

.contenedor {
  width: 1230px;
  margin: 15px;
}

.main {
  background-color: whitesmoke;
  padding: 1.5rem;
}

.main article .principal {
  margin-bottom: 10px;
}

.main article .principal img {
  width: 80%;
  display: block;
  margin: auto;
}

.main article h2 {
  margin: 0.5rem;
  color: #243d72;
  font-weight: bold;
  font-size: 2rem;
}

.main article h3 {
  margin: 1.5rem;
  color: #243d72;
  font-weight: normal;
  font-size: 1.2rem;
}

.main article p {
  margin: 0.5rem;
  padding: 5px;
  line-height: 1.8rem;
  font-size: 1rem;
  text-align: justify;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside .cajaaside {
  font-size: 0.9rem;
  text-align: justify;
  color: #22225a;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #e2e1e1;
  margin: 0.3rem;
}

aside img {
  width: 300px;
  margin: 15px;
}

aside img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

aside h4 {
  font-size: 1.2rem;
  margin: 2px;
  padding: 4px;
  text-align: center;
  color: #0b0b42;
}

.contrailer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1230px;
  margin: 15px;
  background-color: #810909;
  padding: 20px;
}

.textotrailer h4 {
  font-size: 2rem;
  color: white;
  padding: 10px;
}

.textotrailer p {
  color: white;
  font-size: 1rem;
  text-align: justify;
  padding: 10px;
}

footer {
  padding: 1rem;
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 80px;
  color: #818181;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .redes {
  width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .redes img {
  width: 40px;
  opacity: 0.7;
}

/*css cine*/
.bodycines {
  font-family: 'Titillium Web', sans-serif;
  background-color: gray;
  background-size: cover;
}

.bodycines .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #2f2f53;
}

.bodycines .container-fluid .navbar-collapse {
  background-color: #141446;
  width: 2000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bodycines .container-fluid .navbar-collapse header div ul li a {
  font-size: 1.5rem;
}

.bodycines .conteiner {
  width: 1130px;
  display: block;
  margin: auto;
  margin-top: 190px;
}

.bodycines .conteiner .divart {
  width: 1130px;
  background-color: #8b1515;
  margin-top: 30px;
  padding: 40px;
}

.bodycines .conteiner .divart .article {
  width: 1100px;
}

.bodycines .conteiner .divart .article .article__titulo {
  font-size: 2.5rem;
  padding: 10px;
  color: white;
}

.bodycines .conteiner .divart .article .article__texto {
  padding: 10px;
  color: white;
  font-size: 1.5rem;
}

.bodycines .conteiner .caj1 {
  width: 1130px;
  background-color: whitesmoke;
  padding: 60px;
}

.bodycines .conteiner .caj1 .imagenpelicula1__img {
  width: 400px;
}

.bodycines .conteiner .caj2 {
  margin-top: 30px;
  width: 1130px;
  background-color: whitesmoke;
  padding: 60px;
}

.bodycines .conteiner .caj2 .imagenpelicula2__img {
  width: 800px;
}

.bodycines .conteiner .caj3 {
  margin-top: 30px;
  width: 1130px;
  background-color: whitesmoke;
  padding: 60px;
}

.bodycines .conteiner .caj3 .imagenpelicula3__img {
  width: 800px;
}

.bodycines .conteiner .caj4 {
  margin-top: 30px;
  width: 1130px;
  background-color: whitesmoke;
  padding: 60px;
}

.bodycines .conteiner .caj4 .imagenpelicula4__img {
  width: 800px;
}

.bodycines .conteiner .focines {
  margin-top: 20px;
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 60px;
  color: #3b3b3b;
}

.bodycines .conteiner .focines .focines__redes {
  width: 1.8rem;
}

.bodycines .conteiner .focines .focines__redes .focines__imagen {
  width: 40px;
  opacity: 0.7;
}

/*bloque de estilos bem*/
.texto--size {
  padding-top: 1rem;
  font-size: 1.2rem;
}

/*css critica*/
.bodyCritica {
  font-family: 'Titillium Web', sans-serif;
  background-color: gray;
  background-size: cover;
  background-attachment: fixed;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #2f2f53;
}

.navbar-collapse {
  background-color: #141446;
  width: 2000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div ul li a {
  font-size: 1.5rem;
}

.maincritica__titulo {
  color: #faf9f9;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem;
  margin-top: 180px;
}

.critica {
  width: 1200px;
  margin: 1rem 20rem 0rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
      grid-template-areas: "caja1 caja2" "caja3 caja4";
}

.critica__titulo {
  text-align: left;
  color: black;
  font-size: 1.5rem;
}

.critica__texto {
  margin: 0 5px;
  text-align: left;
  color: black;
  font-size: 1rem;
}

.critica__caja1 {
  border: solid 3px #34367e;
  background-color: rgba(255, 255, 255, 0.904);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: caja1;
  width: 600px;
  height: 480px;
}

.critica__caja2 {
  border: solid 3px #34367e;
  background-color: rgba(255, 255, 255, 0.904);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: caja2;
  width: 600px;
  height: 480px;
}

.critica__caja3 {
  border: solid 3px #34367e;
  background-color: rgba(255, 255, 255, 0.904);
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: caja3;
  width: 600px;
  height: 480px;
}

.critica__caja4 {
  border: solid 3px #34367e;
  background-color: rgba(255, 255, 255, 0.904);
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: caja4;
  width: 600px;
  height: 480px;
}

.footercritica {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 80px;
  color: #818181;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footercritica__redes {
  width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footercritica__imagen {
  width: 40px;
  opacity: 0.7;
}

/*css series*/
.bodyseries {
  font-family: "Titillium Web", sans-serif;
  background-color: gray;
  background-size: cover;
  attachment: fixed;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #2f2f53;
}

.navbar-collapse {
  background-color: #141446;
  width: 2000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div ul li a {
  font-size: 1.5rem;
}

.conteiner {
  width: 1130px;
  display: block;
  margin: auto;
  margin-top: 190px;
}

.divseries {
  width: 1130px;
  background-color: #1b4225;
  margin-top: 30px;
  padding: 40px;
}

.articlese__titulo {
  padding: 10px;
  color: white;
  text-align: justify;
}

.articlese__texto {
  padding: 10px;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}

.cajser1 {
  width: 1130px;
  background-color: whitesmoke;
  padding: 60px;
  margin-top: 30px;
}

/*bloque de estilos bem*/
.texto--size {
  padding-top: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

.imagenseries1__img {
  width: 450px;
}

.series1__titulo {
  text-align: justify;
}

.cajser2 {
  margin-top: 30px;
  width: 1130px;
  background-color: #8b1515;
}

.imagenseries2__img {
  width: 900px;
}

.series2__titulo {
  padding: 30px;
  color: white;
  text-align: justify;
}

.series2__texto {
  padding: 10px;
  color: white;
  text-align: justify;
}

.cajser3 {
  margin-top: 30px;
  width: 1130px;
  background-color: whitesmoke;
  padding: 60px;
}

.series3__titulo {
  text-align: justify;
}

.series3__texto {
  padding: 10px;
  text-align: justify;
}

.imagenser3__img {
  width: 800px;
}

.foseries {
  margin-top: 20px;
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 60px;
  color: #3b3b3b;
}

.foseries__redes {
  width: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.foseries__imagen {
  width: 40px;
  opacity: 0.7;
}
