* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Saira Condensed', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.2rem;
  background: #000 url(/imagenes/estrellas.gif);
}

.navbar {
  background-color: #8C2020;
}

.imagenNavbar {
  margin-left: 30px;
}

.imgNav {
  height: 80px;
}

.btn {
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:hover,
.btn:active {
  letter-spacing: 6px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:after,
.btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.slider {
  margin: 0 auto 0;
}

.carrusel {
  margin-top: 105px;
  margin-bottom: 10px;
}

.noticiasIndex {
  background-color: #f5ca7c;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.artNoticias {
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 30px;
  text-align: justify;
}

.imgArt {
  width: 100%;
  padding: 20px;
}

.artNoticiastexto h2 {
  padding: 10px;
  margin: 15px;
  font-size: 2.5rem;
}

.artNoticiastexto h3 {
  padding: 5px;
  font-size: 2rem;
}

.artNoticiastexto p {
  font-size: 1.2rem;
  margin: 10px;
}

.textoIndex {
  margin: 10px;
  text-align: justify;
}

.textoIndex h4 {
  font-size: 1.5rem;
  margin: 8px;
}

.caja {
  background-color: white;
  color: black;
  border-radius: 4px;
  margin: 10px;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
          box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  position: relative;
  top: 0;
  padding: 40px 25px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.caja:hover {
  top: -8px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
          box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}

.trailerNoticias {
  background-color: #3747A6;
  color: white;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.textoTrailer {
  padding: 30px;
  text-align: justify;
  font-size: 1.2rem;
}

.textoTrailer h4 {
  font-size: 2rem;
}

.video {
  width: 100%;
  height: 400px;
}

/*css cine*/
/*nesting*/
.bodyCines {
  font-family: 'Saira Condensed', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background: #000 url(/imagenes/estrellas.gif);
}

.bodyCines .banner {
  margin-top: 110px;
}

.bodyCines .cinesContenedor {
  background-color: #f5ca7c;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.bodyCines .cinesContenedor .caj1 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.bodyCines .cinesContenedor .caj2 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.bodyCines .cinesContenedor .caj3 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.bodyCines .cinesContenedor .caj4 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.bodyCines .cinesContenedor .divart {
  background-color: whitesmoke;
  margin: 15px;
  padding: 20px;
  border-radius: 4px;
  text-align: justify;
}

.bodyCines .cinesContenedor .divart .titulo h2 {
  text-align: center;
  margin: 20px;
  font-size: 2rem;
}

.bodyCines .cinesContenedor .divart .imagenAcordion img {
  padding-left: 40px;
  width: 90%;
}

.bodyCines .cinesContenedor .divart .acordion .accordion-button {
  background-color: #1B1926;
  color: white;
}

.bodyCines .cinesContenedor .divart .acordion .accordion-body {
  color: black;
}

/*nav bar*/
.navbar {
  background-color: #8C2020;
}

.imagenNavbar {
  margin-left: 30px;
}

.imgNav {
  height: 80px;
}

.btn {
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:hover,
.btn:active {
  letter-spacing: 6px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:after,
.btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

/*css critica*/
.bodyCritica {
  font-family: 'Saira Condensed', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background: #000 url(/imagenes/estrellas.gif);
}

.navbar {
  background-color: #8C2020;
}

.imagenNavbar {
  margin-left: 30px;
}

.imgNav {
  height: 80px;
}

.btn {
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:hover,
.btn:active {
  letter-spacing: 6px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:after,
.btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.banner {
  margin-top: 110px;
}

.galeria {
  margin-top: 10px;
}

.slideRight-0 {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-200ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-400ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-600ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-800ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-1000ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-1200ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-1400ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-1600ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-1800ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-2000ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slideRight-2200ms {
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  visibility: hidden;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

div[class*="slideRight"] {
  padding: 0.3rem;
}

div[class*="slideRight"]:hover img {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

/*css series*/
.bodySeries {
  font-family: 'Saira Condensed', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background: #000 url(/imagenes/estrellas.gif);
}

.navbar {
  background-color: #8C2020;
}

.imagenNavbar {
  margin-left: 30px;
}

.imgNav {
  height: 80px;
}

.btn {
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:hover,
.btn:active {
  letter-spacing: 6px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:after,
.btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.banner {
  margin-top: 110px;
}

.divseries {
  background-color: #f5ca7c;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.artSeries {
  background-color: #1B1926;
  margin: 15px;
  padding: 30px;
  border-radius: 4px;
  text-align: justify;
  color: white;
}

.artTitulo {
  padding: 15px;
}

.div1 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.div2 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.div3 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.div4 {
  background-color: whitesmoke;
  color: black;
  margin: 15px;
  border-radius: 4px;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

body {
  font-family: 'Saira Condensed', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  font-size: 1.2rem;
  background: #000 url(/imagenes/estrellas.gif);
}

.navbar {
  background-color: #8C2020;
}

.imagenNavbar {
  margin-left: 30px;
}

.imgNav {
  height: 80px;
}

.btn {
  letter-spacing: 2px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:hover,
.btn:active {
  letter-spacing: 6px;
  color: #fff;
  font-size: 1.4rem;
}

.btn:after,
.btn:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn:hover:after,
.btn:hover:before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.btn:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

main {
  margin-top: 10px;
}

.formulario {
  margin-top: 50px;
  background-color: #f5ca7c;
  padding: 25px;
  border-radius: 4px;
}

.formularioTexto {
  padding-top: 30px;
}

.formTexto {
  margin-top: 30px;
}

.boton {
  background-color: #BF2011;
}

.team-boxed {
  color: #313437;
  background-color: #eef4f7;
  padding: 20px;
  margin-top: 15px;
  border-radius: 4px;
}

.team-boxed p {
  color: #7d8285;
}

.team-boxed h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width: 767px) {
  .team-boxed h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
  .team-boxed .intro h2 {
    font-size: 1.5rem;
  }
}

.team-boxed .texto {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
}

.team-boxed .people {
  padding: 20px 0;
}

.team-boxed .item {
  text-align: center;
}

.team-boxed .item .box {
  text-align: center;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.team-boxed .item .name {
  font-weight: bold;
  margin-top: 28px;
  margin-bottom: 8px;
  color: inherit;
}

.team-boxed .item .title {
  text-transform: uppercase;
  font-weight: bold;
  color: #d0d0d0;
  letter-spacing: 2px;
  font-size: 13px;
}

.team-boxed .item .description {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.team-boxed .item img {
  max-width: 160px;
}

.team-boxed .social {
  font-size: 18px;
  color: #a2a8ae;
}

.team-boxed .social a {
  color: inherit;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.7;
}

.team-boxed .social a:hover {
  opacity: 1;
}

.news {
  width: 100%;
}

/*medias index*/
@media (max-width: 575px) {
  .imgIndex {
    padding: 20px;
  }
  .textoIndex {
    font-size: 0, 5rem;
    padding: 20px;
  }
  .artNoticias {
    padding: 20px;
  }
  .artNoticias h2 {
    font-size: 1.8rem;
  }
  .artNoticias h3 {
    font-size: 1.5rem;
  }
  #artTitulo h4 {
    font-size: 1rem;
  }
  .imagenNavbar {
    margin-left: 0;
  }
  .textoTrailer {
    font-size: 1rem;
  }
  .textoIndex {
    padding: 10px;
  }
}

@media (max-width: 420px) {
  .imgNav {
    width: 220px;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  .artNoticias {
    padding: 10px;
  }
  .textoIndex {
    padding: 15px;
  }
  .caja {
    padding: 10px;
  }
  #footerT {
    font-size: 0.8rem;
  }
}

/* medias para series*/
@media (max-width: 575px) {
  #art h2 {
    font-size: 1.5rem;
  }
  #box h2 {
    font-size: 1.2rem;
    margin: 5px;
  }
}

@media (max-width: 420px) {
  #art h2 {
    font-size: 1.3rem;
    padding: 5px;
  }
  #box h2 {
    font-size: 1.3rem;
    margin: 5px;
  }
  #footerT {
    font-size: 0.8rem;
  }
}

/* medias para cine */
@media (max-width: 575px) {
  #boxcine h2 {
    font-size: 1.5rem;
    margin: 5px;
  }
  #artcine h2 {
    font-size: 1.3rem;
    margin: 5px;
  }
}

@media (max-width: 420px) {
  #boxcine h2 {
    font-size: 1.3rem;
    margin: 5px;
  }
  #artcine h2 {
    font-size: 1rem;
    margin: 5px;
  }
  #footerT {
    font-size: 0.8rem;
  }
  .artNoticiastexto h2 {
    font-size: 1.3rem;
  }
  .imagenAcordion {
    padding-bottom: 15px;
  }
  .titulo h2 {
    font-size: 1rem;
  }
}

/* medias para critica*/
@media (max-width: 420px) {
  #footerT {
    font-size: 0.8rem;
  }
}
