/*css cine*/
.bodyCines {
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;


    .navbar {
        background-color: $color-navbar;

        .imagenNavbar {
            margin-left: 30px;
        }

        .imgNav {
            height: 80px;
        }

        .btn {
            @include bot;
        }

        .btn:hover {
            @include hover;
        }

        //*section*//
        .slider {
            margin: 0 auto 0;
        }

    }

    .banner {
        margin-top: 110px;
    }

    .cinesContenedor {
        background-color: $color-amarillo;
        padding: 10px;

        .caj1 {
            @include caj;
        }

        .caj2 {
            @include caj;
        }

        .caj3 {
            @include caj;
        }

        .caj4 {
            @include caj;
        }

        .divart {
            background-color: $color-az-oscuro;
            margin: 15px;
            padding: 20px;
            border-radius: 4px;
            text-align: justify;
            color: white;

            .article {
                padding: 15px;


            }
        }

    }

    footer {
        background-color: black;

    }
}