/*css critica*/

.bodyCritica {
    font-family: 'Titillium Web', sans-serif;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}

//*header*//
.navbar {
    background-color: $color-navbar;

}

.imagenNavbar {
    margin-left: 30px;
}

.imgNav {
    height: 80px;
}

.btn {
    @include bot;
}

.btn:hover {
    @include hover;
}

.banner {
    margin-top: 110px;
}

.galeria {
    margin-top: 10px;
}


$animation-delays:0,
200ms,
400ms,
600ms,
800ms,
1000ms,
1200ms,
1400ms,
1600ms,
1800ms,
2000ms,
2200ms;

@each $delay in $animation-delays {
    .slideRight-#{$delay} {
        animation-name: slideRight;
        animation-duration: 700ms;
        animation-delay: $delay;
        animation-timing-function: ease-in-out;
        visibility: hidden;
        animation-fill-mode: forwards;
    }
}

div[class*="slideRight"] {
    padding: 0.3rem;

    &:hover img {
        filter: brightness(150%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
    }
}

