* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', sans-serif;
    background-size: cover;
    background-attachment: fixed;
    font-size: 1.2rem;
    background: #000 url(/imagenes/estrellas.gif);
}

//*header*//
.navbar {
    background-color: $color-navbar;

}

.imagenNavbar {
    margin-left: 30px;
}

.imgNav {
    height: 80px;
}

.btn {
    @include boton1;
}

.btn:hover,
.btn:active {
    @include boton2;
}

.btn:after,
.btn:before {
    @include boton3;
}

.btn:hover:after,
.btn:hover:before {
    @include boton4;
}

.btn:hover:before {
    @include boton5
}


//*section*//
.slider {
    margin: 0 auto 0;
}

.carrusel {
    margin-top: 105px;
    margin-bottom: 10px;

}

.noticiasIndex {
    background-color: $color-amarillo;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;

}

.artNoticias {
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 30px;
    text-align: justify;

}

.imgArt {
    width: 100%;
    padding: 20px;
}

.artNoticiastexto h2 {
    padding: 10px;
    margin: 15px;
    font-size: 2.5rem;
}

.artNoticiastexto h3 {
    padding: 5px;
    font-size: 2rem;
}

.artNoticiastexto p {
    font-size: 1.2rem;
    margin: 10px;
}

.textoIndex {
    margin: 10px;
    text-align: justify;
}

.textoIndex h4 {
    font-size: 1.8rem;
    margin: 8px;
}

.caja {
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 10px;
    text-align: justify;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    position: relative;
    top: 0;
    padding: 40px 25px;
    transition: all .3s ease-in-out;
}

.caja:hover {
    top: -8px;
    border-radius: 4px;
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}

.trailerNoticias {
    background-color: $color-azul;
    color: white;
    padding: 20px;
    border-radius: 4px;
    align-items: center;
    margin-top: 10px;
}

.textoTrailer {
    padding: 30px;
    text-align: justify;
    font-size: 1.2rem;
}

.textoTrailer h4 {
    font-size: 2rem;
}


.video {
    width: 100%;
    height: 400px;
}