/*medias index*/

@media (max-width: 575px) {
    .imgIndex {
        padding: 20px;
    }

    .textoIndex {
        font-size: 0, 5rem;
        padding: 20px;
    }

    .artNoticias {
        padding: 20px;
    }

    .artNoticias h2 {
        font-size: 1.8rem;
    }

    .artNoticias h3 {
        font-size: 1.5rem;
    }

    #artTitulo h4 {
        font-size: 1rem;
    }

    .imagenNavbar {
        margin-left: 0;
    }

    .textoTrailer {
        font-size: 1rem;
    }

    .textoIndex {
        padding: 10px;
    }



}

@media (max-width: 420px) {
    .imgNav {
        width: 220px;
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    .artNoticias {
        padding: 10px;
    }

    .textoIndex {
        padding: 15px;
    }

    .caja {
        padding: 10px;

    }

    #footerT {
        font-size: 0.8rem;
    }

}


/* medias para series*/
@media (max-width:1000px) {}

@media (max-width: 575px) {
    #art h2 {
        font-size: 1.5rem;
        margin: 10px
    }

    #box h2 {
        font-size: 1.5rem;
        margin: 10px
    }

    img .imagenSeries {
        margin: 10px;
    }

}


@media (max-width: 420px) {

    #art h2 {
        font-size: 1.5rem;
        padding: 5px;
        margin: 5px
    }

    #box h2 {
        font-size: 1.5rem;
        margin: 10px
    }

    #footerT {
        font-size: 0.8rem;
    }

    img .imagenSeries {
        margin: 10px;
    }


}

/* medias para cine */

@media (max-width: 575px) {
    #boxcine h2 {
        font-size: 1.5rem;
        margin: 5px;

    }

    #artcine h2 {
        font-size: 1.3rem;
        margin: 5px
    }

    img .imagenPelicula {
        margin: 10px;
    }
}


@media (max-width: 420px) {
    #boxcine h2 {
        font-size: 1.3rem;
        margin: 5px
    }


    #artcine h2 {
        font-size: 1rem;
        margin: 5px
    }

    #footerT {
        font-size: 0.8rem;
    }

    .artNoticiastexto h2 {
        font-size: 1.3rem;
    }

    .imagenAcordion {
        padding-bottom: 15px;
    }

    .titulo h2 {
        font-size: 1rem;
        margin: 5px
    }

    img .imagenPelicula {
        margin: 10px;
    }
}


/* medias para critica*/



@media (max-width: 420px) {
    #footerT {
        font-size: 0.8rem;
    }
}