/*css series*/

.bodySeries {
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  background-size: cover;
  background-attachment: fixed;

}
//*header*//
.navbar {
  background-color: $color-navbar;

}

.imagenNavbar {
  margin-left: 30px;
}
.imgNav{
  height: 80px;
}

.btn {
  @include bot;
}

.btn:hover {
  @include hover;
}

.banner{
  margin-top:110px;
}
.divseries {
  background-color:$color-amarillo;
  padding: 10px;
}

.artSeries{
  background-color: $color-az-oscuro;
  margin: 15px;
  padding: 30px;
  border-radius: 4px;
  text-align: justify;
  color: white;
}

.artTitulo{
  padding:15px;
}

.div1{
  @include caj;
}

.div2{
  @include caj;
}

.div3{
  @include caj;
}
.div4{
  @include caj;
}

footer{
  background-color:black;
}