/*css series*/

.bodySeries {
  font-family: 'Saira Condensed', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background:#000 url(/imagenes/estrellas.gif) ;


}
//*header*//
.navbar {
  background-color: $color-navbar;

}

.imagenNavbar {
  margin-left: 30px;
}
.imgNav{
  height: 80px;
}

.btn {
  @include boton1;
}

.btn:hover,
.btn:active {
  @include boton2;
}

.btn:after,
.btn:before {
  @include boton3;
}

.btn:hover:after,
.btn:hover:before {
  @include boton4;
}

.btn:hover:before {
  @include boton5
}

.banner{
  margin-top:110px;
}
.divseries {
  background-color:$color-amarillo;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.artSeries{
  background-color: $color-az-oscuro;
  margin: 15px;
  padding: 30px;
  border-radius: 4px;
  text-align: justify;
  color: white;
}

.artTitulo{
  padding:15px;
}

.div1{
  @include caj;
}

.div2{
  @include caj;
}

.div3{
  @include caj;
}
.div4{
  @include caj;
}



